.card{
  border: 1px solid rgba(213, 211, 211, 0.2);  
  &:hover{
    border: 1px solid rgba(247, 241, 236, 1);
    transition: 0.4s linear border;
  }
  .card-body{
    &:hover{
      background: rgba(238, 238, 238, 0.3);
      transition: 0.4s linear background;
    }
    .media-body{
      a{
        color: #ad5d19;
        &:hover{
          color: #f48323;
          transition: 0.4s linear color;
        }
      }
    }
  }
}